<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Hypermart</title>
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="styles/product_panel.css">
    <link rel="stylesheet" href="styles/customer_panel.css">
    <link rel="stylesheet" href="styles/punch_in_out.css">
</head>

<body>
    <div id="root"></div>
    <script src="index.js"></script>
</body>

</html>